@import url('https://fonts.googleapis.com/css?family=Public+Sans:300,400&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Public Sans', sans-serif;
    font-weight: 400;
}

ul li,
button {
    cursor: pointer;
}

header {
    position: fixed;
    width: 100%;
    z-index: 1000;
    background: white;

    .header_wrapper {
        display: grid;
        grid-template-areas: "logo menu";
        padding: 19px 23px;

        .logo img {
            width: 132px;
            grid-area: logo;
        }

        .menu_background {
            position: absolute;
            height: 100vh;
            width: 100%;
            background: rgba($color: #000000, $alpha: 0.4);

            .hamburger_menu {
                position: absolute;
                width: 300px;
                max-height: 39%;
                height: 39%;
                top: 80px;
                background: white;
                left: 37px;
                border-radius: 5px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                ul {
                    list-style: none;
                    text-align: center;
                    display: flex;
                    flex-direction: column;
                    height: 100%;
                    justify-content: space-evenly;
                }
            }

        }

        .hamburger_icon {
            grid-area: menu;
            justify-self: flex-end;
        }

        .hide {
            display: none;
        }

        @media (min-width: 800px) {
            grid-template-areas: "logo menu CTA";
            grid-template-columns: 150px auto 167px;

            img {
                align-self: center;
            }

            .hamburger_icon {
                display: none;
            }

            .menu_background {
                position: relative;
                height: 100%;
                width: 100%;
                background: none;
                display: block;
                grid-area: menu;

                .hamburger_menu {
                    position: relative;
                    width: 100%;
                    max-height: 100%;
                    height: 100%;
                    top: 0;
                    background: none;
                    left: 0;
                    border-radius: 5px;
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;

                    ul {
                        width: 100%;
                        list-style: none;
                        text-align: center;
                        display: flex;
                        flex-direction: row;
                        height: 42%;
                        justify-content: center;

                        li {
                            margin-right: 30px;
                        }
                    }
                }

            }

            button.btn {
                grid-area: CTA;
                display: block;
                width: 166px;
                height: 46px;
                justify-self: flex-end;
                border: none;
                border-radius: 33px;
                text-align: center;
                color: white;
                background: linear-gradient(to left, hsl(192, 70%, 51%), hsl(136, 65%, 51%));
            }
        }

        @media (min-width: 1220px) {
            padding: 32px 163px;

            img {
                width: 144px;
            }
        }
    }
}

.hero {
    .hero_wrapper {
        display: grid;
        grid-template-rows: auto auto;

        .left {
            order: 2;
        }

        .right {
            background: url("../images/bg-intro-mobile.svg");
            background-repeat: no-repeat;

            img {
                width: 100%;
                width: 100%;
                position: relative;
                top: -76px;
                z-index: 100;
            }
        }
    }
}