@import url("https://fonts.googleapis.com/css?family=Public+Sans:300,400&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
}

body {
  font-family: 'Public Sans', sans-serif;
  font-size: 18px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto auto auto auto;
      grid-template-rows: auto auto auto auto auto;
}

@media (min-width: 1024px) {
  body {
    -ms-grid-rows: auto 387px auto auto auto;
        grid-template-rows: auto 387px auto auto auto;
  }
}

ul li,
button {
  cursor: pointer;
}

.gradient_btn {
  width: 166px;
  height: 46px;
  border: none;
  border-radius: 33px;
  text-align: center;
  color: white;
  background: -webkit-gradient(linear, right top, left top, from(#2bb7da), to(#31d35c));
  background: linear-gradient(to left, #2bb7da, #31d35c);
}

.articles .article_wrapper img {
  width: 80%;
}

header {
  position: relative;
  z-index: 1000;
  background: white;
}

header .header_wrapper {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "logo menu";
  padding: 19px 23px;
}

header .header_wrapper .logo img {
  width: 132px;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: logo;
}

header .header_wrapper .menu_background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .header_wrapper .menu_background .hamburger_menu {
  position: absolute;
  width: 300px;
  max-height: 39%;
  height: 39%;
  top: 80px;
  background: white;
  left: 5%;
  right: 5%;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

header .header_wrapper .menu_background .hamburger_menu ul {
  list-style: none;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

header .header_wrapper .hamburger_icon {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: menu;
  justify-self: flex-end;
}

header .header_wrapper button {
  display: none;
}

@media (min-width: 800px) {
  header .header_wrapper {
        grid-template-areas: "logo menu CTA";
    -ms-grid-columns: 150px auto 167px;
        grid-template-columns: 150px auto 167px;
  }
  header .header_wrapper img {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  header .header_wrapper .hamburger_icon {
    display: none;
  }
  header .header_wrapper .menu_background {
    position: relative;
    height: 100%;
    width: 100%;
    background: none;
    display: block;
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: menu;
  }
  header .header_wrapper .menu_background .hamburger_menu {
    position: relative;
    width: 100%;
    max-height: 100%;
    height: 100%;
    top: 0;
    background: none;
    left: 0;
    border-radius: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .header_wrapper .menu_background .hamburger_menu ul {
    width: 100%;
    list-style: none;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 42%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header .header_wrapper .menu_background .hamburger_menu ul li {
    margin-right: 30px;
  }
  header .header_wrapper button {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: CTA;
    display: block;
    justify-self: flex-end;
  }
}

@media (min-width: 1220px) {
  header .header_wrapper {
    padding: 32px 163px;
  }
  header .header_wrapper img {
    width: 144px;
  }
}

.hero .hero_wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
}

.hero .hero_wrapper .left {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.hero .hero_wrapper .left .left_wrapper {
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero .hero_wrapper .left .left_wrapper h1 {
  font-size: 2.5rem;
  font-weight: 300;
  margin-bottom: 0.3em;
}

.hero .hero_wrapper .left .left_wrapper h1,
.hero .hero_wrapper .left .left_wrapper p {
  text-align: center;
}

.hero .hero_wrapper .left .left_wrapper p {
  color: #9698a6;
  font-weight: 300;
}

.hero .hero_wrapper .left .left_wrapper button {
  margin: 31px 0;
}

.hero .hero_wrapper .right {
  position: relative;
  background: white;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero .hero_wrapper .right::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 424px;
  max-height: 500px;
  background: url("../images/bg-intro-mobile.svg");
  background-repeat: no-repeat;
  background-position: center -90px;
  background-size: 100% 100%;
  z-index: -1;
}

.hero .hero_wrapper .right img {
  -webkit-transform: translateY(-29%);
          transform: translateY(-29%);
  width: 360px;
}

@media (min-width: 380px) {
  .hero .hero_wrapper .right::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 550px;
    max-height: 550px;
    background: url("../images/bg-intro-mobile.svg");
    background-repeat: no-repeat;
    background-position: center -90px;
    background-size: 100%;
    z-index: -1;
  }
  .hero .hero_wrapper .right img {
    -webkit-transform: translateY(-29%);
            transform: translateY(-29%);
    width: 95%;
  }
}

@media (min-width: 500px) {
  .hero .hero_wrapper .left .left_wrapper {
    padding: 0 38px;
  }
}

@media (min-width: 700px) {
  .hero .hero_wrapper .left .left_wrapper h1 {
    font-size: 3.5em;
  }
  .hero .hero_wrapper .left .left_wrapper p {
    font-size: 1.2em;
  }
  .hero .hero_wrapper .left .left_wrapper button {
    width: 250px;
    height: 55px;
    font-size: 0.8em;
  }
  .hero .hero_wrapper .right img {
    width: 88%;
  }
  .hero .hero_wrapper .right::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 500px;
    max-height: 500px;
    background: url("../images/bg-intro-mobile.svg");
    background-repeat: no-repeat;
    background-position: center -7px;
    background-size: 100% 100%;
    z-index: -1;
  }
}

@media (min-width: 768px) {
  .hero .hero_wrapper .right::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 500px;
    max-height: 500px;
    background: url("../images/bg-intro-mobile.svg");
    background-repeat: no-repeat;
    background-position: center -7px;
    background-size: 100% 100%;
    z-index: -1;
  }
  .hero .hero_wrapper .right img {
    -webkit-transform: translateY(-29%);
            transform: translateY(-29%);
    width: 88%;
    max-width: 620px;
  }
}

@media (min-width: 1024px) {
  .hero .hero_wrapper {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    height: 100%;
  }
  .hero .hero_wrapper .left .left_wrapper h1 {
    font-size: 1.5em;
  }
  .hero .hero_wrapper .left .left_wrapper p {
    font-size: 1em;
  }
  .hero .hero_wrapper .left .left_wrapper button {
    width: 250px;
    height: 55px;
    font-size: 0.8em;
  }
  .hero .hero_wrapper .right {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .hero .hero_wrapper .right::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 580px;
    max-height: 1034px;
    background: url("../images/bg-intro-desktop.svg");
    background-repeat: no-repeat;
    background-position: -16px -149px;
    background-size: cover;
    z-index: -1;
  }
  .hero .hero_wrapper .right img {
    position: absolute;
    -webkit-transform: translate(90px, -80px);
            transform: translate(90px, -80px);
    width: 95%;
    max-width: 695px;
  }
}

@media (min-width: 1220px) {
  .hero .hero_wrapper .right {
    width: 100%;
    overflow: hidden;
  }
  .hero .hero_wrapper .right::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 795px;
    max-height: 1034px;
    background: url("../images/bg-intro-desktop.svg");
    background-repeat: no-repeat;
    background-position: 570px -195px;
    background-size: contain;
    z-index: -1;
  }
  .hero .hero_wrapper .right img {
    -webkit-transform: translate(409px, -109px);
            transform: translate(409px, -109px);
    width: 70%;
    max-width: 695px;
  }
}

.easybank {
  background: red;
}
